@tailwind base;
@tailwind components;
@tailwind utilities;



:root  {
  --background: 309 0% 95%;
  --foreground: 309 0% 0%;
  --card: 271 5% 85%;
  --card-foreground: 309 0% 10%;
  --popover: 309 0% 95%;
  --popover-foreground: 309 95% 0%;
  --primary: 309 65% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 309 5% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 271 5% 90%;
  --muted-foreground: 309 0% 35%;
  --accent: 271 10% 80%;
  --accent-foreground: 309 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 309 0% 90%;
  --border: 309 20% 50%;
  --input: 309 20% 18%;
  --ring: 309 65% 60%;
  --radius: 2rem;
}
.dark  {
  --background: 309 10% 5%;
  --foreground: 309 0% 90%;
  --card: 309 0% 0%;
  --card-foreground: 309 0% 90%;
  --popover: 309 10% 5%;
  --popover-foreground: 309 0% 90%;
  --primary: 309 65% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 309 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 271 5% 20%;
  --muted-foreground: 309 0% 60%;
  --accent: 271 10% 15%;
  --accent-foreground: 309 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 309 0% 90%;
  --border: 309 20% 18%;
  --input: 309 20% 18%;
  --ring: 309 65% 60%;
  --radius: 2rem;
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply antialiased bg-background text-foreground scroll-smooth;
  }

  ::selection {
    @apply bg-primary text-background;
  }

  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-secondary;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-muted-foreground;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px hsl(var(--background)) inset !important;
    box-shadow: 0 0 0 1000px hsl(var(--background)) inset !important;
    -webkit-text-fill-color: hsl(var(--foreground)) !important;
  }
}